<h1>Your Gists:</h1>
<% @response.each do |gist| %>
<%= gist["raw_url"] %>
<p>Description:</p>
<%= gist["description"] %>
<!-- Working on installing bluecloth gem to embed each gist directly into page  -->
<img src="<%= gist["html_url"] %>">
<% end %>
