
<table border="1", style="width:900px">
  <tr>
    <th>Description</th>
    <th>Level of Understanding</th>
    <th>Admin Controls</th>
  </tr>

  <tr>
    <td>
      <ul>
        <li><%= objective.description %></li>
      <ul>
    </td>
    <td><%= render partial: "ranks/form", locals: { :objective => objective }%></td>
    <% if current_user.admin %>
    <td><%= link_to "Delete Objective", { action: :destroy, id: objective.id }, method: :delete %></td>
    <% end %>
  </tr>
</table>


