
<table border="1", style="width:900px">
  <tr>
    <th>Description</th>
    <th>Level of Understanding</th>
  </tr>

  <tr>
    <td>
      <ul>
        <li><%= objective.description %></li>
      <ul>
    </td>
    <td><%= render partial: "ranks/form", locals: { :objective => objective }%></td>
  </tr>
</table>


