<h1>Learning Objectives</h1>

<% if @objectives.empty? %>
  <h2>No objectives exist in the database</h2>
<% end %>

<h3>Week 1</h3>
<% if logged_in? %>
<%= render partial: "table", collection: @objectives, as: "objective" %>
<% end %>


<% if logged_in? && current_user.is_admin? %>
  <h2>Admin Controls
    <ul>
      <li><%= link_to "Add New Objective", new_objective_path %></li>
    </ul>
  </h2>
<% end %>


<a href="/">Homepage</a>

