<h1>Edit the Learning Objective below:</h1>

<% if logged_in? %>
  <%= @objective.description %>
  <h3>Edit</h3>
  <%= render 'form' %>
<% else %>
  <h1> You are not authorized to see this page. </h1>
<% end %>
